<p id="notice"><%= notice %></p>

<h1>Time Track</h1>

<div class="row">
  <%= render 'date_nav'%>
</div>

<div class="row">
  <%= render 'start', time_track: @time_track %>
</div>

<div id="timeTrackTableContainer" class="table-responsive">
  <%= render 'table' %>
</div>

<div class="row">
  <div class="col">
    <%= link_to 'Add Time Track', new_time_track_path, class: 'btn btn-dark btn-sm' %>
  </div>
</div>

<%= javascript_pack_tag 'time_track', 'data-turbolinks-track': 'reload' %>
